.seeMap{
    width: 100%;
}

.seeList{
    width: 100%;
}

.notSeeMap{
    display: none;
    width: 10%;
}

.notSeeList{
    display: none;
}

.continents{
    font-size: 50px;
    text-align: center;
}
.continents img{
    width: 5%;
    margin: 0 10px;
    
}
.continents-group{
    margin-top: 80px;
    margin-bottom: 400px;
}