body{
        scroll-behavior: smooth;

}
.wave-det-header{
    margin-top: 0;
    width: 100%;
    height: 850px;
    background-size: cover;
    background-position: 100% 40%;
    margin-bottom: 100px;
}

.wave-det-header h1{
    padding-top: 330px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 7em;
    letter-spacing: .2em;
    color:white;
    text-transform: uppercase;
    
}

.wave-det-header img{
    width: 3%;
    padding-top: 100px;
    display: block;
    margin: 0 auto;
    
}

.not-active{
    display: none;
}

.active{
    display: block;
}

