.index-img{
    margin-top: 30px;
    width: 40%;
}
.join{
    background-color: rgb(67, 70, 77);
    color: rgb(239, 245, 244);
    font-size: 40px;
    padding: 20px;
    text-align: center;
}
.info{
    margin: 60px 0;

}