.navb {
    font-size: 20px;
    text-align: center;
    padding: 7px;
    width: 100%;
    top: 0;
    background-color: transparent;
    transition: all .1s;
} 

.navb.filled {
    background-color: white;
    color:rgb(37, 36, 36);
}
#navbar span.link-color{
    color: white;
    text-decoration: none;
}