.navb {
    font-size: 20px;
    text-align: center;
    padding: 7px;
    width: 100%;
    top: 0;
    background-color: transparent;
    border-bottom: 1px solid white;
    transition: all 1s;
} 

.navb.filled {
    background-color: white;
}
/* // to do */
.link-color{
    color:white;
    text-decoration: none;
}